@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

.projectSelector {
    button {
        border: 1px solid black;
        &:focus,:focus-visible {
            border: 1px solid #2F80ED;
        }
    }
}
.projects {
    img {
        border-radius: 12px;
    }
    button {
        border-radius: 10px;
    }
    .demo{
        background-color: #2F80ED;
        color: white;
        border: 0;
        &:focus{
            border: 0 solid unset;
        }
    }
    .code {
        background-color: white;
        color: #2F80ED;
        border: 1px solid #2F80ED;
        &:focus{
            border: 1;
        }
    }
    a {
        color: unset;
        text-decoration: none;
    }
}