@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

.clock {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}
.caption {
    color: #BDBDBD;
    font-size: 12px;
    font-weight: 500;
}
.name {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
}
@media screen and (min-width: 768px) {
    .RecipesSteps {
        border-radius: 12px;
        padding: 0.5rem 1rem;
        background-color: white;
        margin-left: auto;
        width: 75%;
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.09);
    }    
}
@media screen and (max-width: 768px) {
    .RecipesSteps {
        width: 100%;
    }
    .clock {        
        margin-right: 0.5rem;
    }
    input[type= "checkbox"] {
        padding-right: 1.5rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .RecipesSteps {
        width: 100%;
    }
}